/* -------------------------------------------------------------------------- */
/*                        External CSS file for styling                       */
/* -------------------------------------------------------------------------- */

main {
    min-height: 80vh;
}

.navbar-nav {
    margin-left: auto;
}

.product-image {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

a {
    text-decoration: none;
}
